* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "montserrat";
}

body {
  background: linear-gradient(180deg, #050505 0%, #2B0B08 29.78%, #540706 65.72%, #B30807 100%);
  background-repeat: no-repeat;
  
}


.header {
  text-align: center;
}

.logo img {
  height: 150px;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 30px
}

section {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* TAKE OBJECT FAR FROM PERSPECTIVE VIEW */

.card {
  /* background-color: #0000aa; */
  perspective: 1000px;
  margin: 1rem;
}


/* SET SAME COLUMN AND ROW FOR BOTH CARD */

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  transition: all 1s ease;
  transform-style: preserve-3d;
}

.card-front {
  grid-area: 1 / 1;
  mix-blend-mode: normal;
  height: 20rem;
}

.card-back {
  grid-area: 1 / 1;
  transform: rotateY(180deg);
  font-family: 'Crimson Text', serif;  
  background: #CB2504;
  mix-blend-mode: normal;
  padding: 20px;
}


/* FIX CARD IMAGES WIDTH */

.card-container img {
  width: 18rem;
  height: 22rem;
  margin-bottom: -5px;
}

.card:hover .card-container {
  transform: rotateY(180deg);
}


input {
  font-size: 1.5rem;
  font-family: roboto;
  outline: none;
  display: inline-block;
  border: none;
  height: 3rem;
  width: 30%;
  padding: 0 40px;
}

@media screen and (max-width: 500px){
  input {
    width: 60%;
  }
}

.search {
  position: relative;
}

i {
  position: absolute;
  z-index: 1;
  bottom: 12px;
  color: #04040463;
  font-size: 1.5rem;
  margin-left: 8px;
}


.name {
  font-family: Crimson Text;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  line-height: 61px;
}

.actor_name, .status {
  color: white;
  font-size: 20px;
  line-height: 30px;
}


